DATABASE_URL=postgresql://postgres:1q2w3e4r@localhost:5432/postgres?schema=public
PORT=8000

JWT_PRIVATE_KEY="-----BEGIN RSA PRIVATE KEY-----
...
-----END RSA PRIVATE KEY-----"

JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
...
-----END PUBLIC KEY-----"